.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
    transition: 0.3s;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s;
}

.desktopMenuListItem:hover, .logo:hover{
    color: #d72036;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #d72036;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: 0.3s;
}

.desktopMenuBtn:hover{
   
    background: #d72036;
    color: white;
}

